<div class="span9" id="msg_form">
  <!-- Message to seller -->
  <% @user_message ||= (flash[:user_message] || UserMessage.new)
     @user_message.lotid ||= lotid
     @user_message.userid ||= userid
     @captcha_error ||= flash[:captcha_error]
  %>
  <%= form_for(@user_message, :url => send_msg_path, :method => :post,
               :builder => BootstrapFormBuilder, :html => {:class => 'sendmsg'},
               :remote => true) do |f| %>
      <fieldset>
        <div class="clearfix">
          <div class="input"><strong>Сообщение продавцу</strong></div>
        </div>
        <%= f.email_field :email, :class => 'span7', :alt_text => 'Ваш реальный email,
        иначе как продавцу вам ответить?', :id => 'msg_input', :value => (user_signed_in?) ? current_user.email : ''  %>
        <a name="sendmessage"> </a>
        <%= f.text_area :text, :class => 'span7', :alt_text => 'Продавец получит ваше сообщение
        на почту', :rows => 4 %>

        <div class="clearfix" id="msg_block">
          <%= render :partial => 'lots/parts/captcha_block' %>
        </div>

        <%= f.hidden_field :userid %>
        <%= f.hidden_field :lotid %>
        <div class="clearfix">
          <div class="input">
            <%= f.submit "Отправить", :class => 'btn success' %>
          </div>
        </div>
      </fieldset>
  <% end %>
</div>